#main_Cont {
    width: 70%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding: 30px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    width: 150px;
}

#post {
    display: flex;
    align-items: center;
    justify-content: center;
}

#post1, #post2, #post3 {
    width: 200px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 12px;
}
 #para1{
    font-size: 18px;
 }

 i{
    font-size: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    color: black;
    cursor: pointer;
 }